body {
    background: #2c3e50;
}

H2 {
    color: #1abc9c;
    text-align: center;
}

.btn {
    border-radius: 0px;
    font-size: 12px;
}

.lead {
    color: #f1c40f;
}

.jumbotron {
    background: #34495e;
}

.centered {
    text-align:center;
}

.btn-primary {
    background: #e67e22;
    border: 1px solid #e67e22;
}
.btn-primary:hover {
    background: #d35400;
    border: 1px solid #d35400;
}

.btn-warning {
    
}